<footer class="py-5 mt-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>DWISH</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Recrutement</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contactez</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Presse</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">A propos</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-3">
        <h5>HORAIRES D'OUVERTURE</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">Du lundi au vendredi 11:30 — 15:30</li>
          <li class="nav-item mb-2">Fermé le week-end</li>
        </ul>
      </div>

      <div class="col-md-6 offset-md-1 mb-3">
        <form>
        <h5>Adresse</h5>
          <p class="text-left">2 Rue Edmond Rostand</p>
          <p class="text-left">13006 Marseille</p>
          </p class="text-left"><span>Téléphone: </span>+33 7 67 10 30 14</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Newsletter</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Envoyer</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2023 Dwish, Tous Droits Réservés.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="https://www.facebook.com/dwish.marseille/"><i class="fab fa-facebook-f"></i></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="https://www.instagram.com/dwish.marseille/?hl=en"><i class="fab fa-instagram"></i></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </div>
  </footer>