<!-- Gallery -->
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686224787/Dwish/team_dwish_ah9bdh.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />

      <img
        src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686148376/Dwish/sandwich_picture_11_ofcm8l.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686148363/Dwish/sandwich_picture_10_muqp3i.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />

      <img
        src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686148201/Dwish/sandwich_picture9_syodqy.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686148121/Dwish/box_picture_1_v9nir0.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />

      <img
        src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686147799/Dwish/sandwich_picture1_b3lgsa.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
  </div>
<!-- Gallery -->
