  <!-- Background image -->
  <div
    class="p-5 text-center bg-image rounded shadow-1-strong mb-5"
    style="
      background-image: url('https://res.cloudinary.com/dhcqyjeip/image/upload/t_Sharpened/v1686221958/Dwish/jumbotron_ercwno.jpg');
      height: 500px;
      alt= Dwish jumbotron
    "
  >
    <div class="mask" style="">
      <div class="d-flex justify-content-center align-items-center h-100 rounded">
        <div class="text-white">
          <img src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686222623/Dwish/logo_d1d49763dffa49a0bd4ec3d2d8b759f2_fduvqv.svg" alt="jumbotron" class="p-5" 
          style="
          filter: brightness(0) invert(1);
          height: 400px;
          width: 400px; 
          alt: Dwish logo"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
