<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686220004/Dwish/logo_navbar_hg4azx.svg" alt="Dwish" width="120" height="20">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Commander", items_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/traiteur">Traiteur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/a-propos">A propos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>