<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686220004/Dwish/logo_navbar_hg4azx.svg" alt="Dwish" width="120" height="20">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mt-2">
          <%= link_to "Commander", items_path, class:"nav-link text-black" %>          
          <a class="nav-link text-black" href="/traiteur">Traiteur</a>
          <a class="nav-link text-black" href="/a-propos">A propos</a>
      </div>
    </div>
     <!-- Left links -->

      <div class="d-flex align-items-center">
        <%= link_to "Se connecter", new_user_session_path, class:"btn btn-dark px-3 me-2" %>
        <%= link_to "Créer un compte", new_user_registration_path, class:"btn btn-light me-3" %>
  </div>
 </nav>

