<div class="container-fluid">
  <%= render partial: 'shared/jumbotron' %>
  <div class="m-5 pt-2"></div>
  <%= render partial: 'shared/button' %>
  <div class="m-5 pt-2"></div>
  <%= render partial: 'shared/gallery' %>
<div>
