<div id="<%= dom_id order %>">
  <h1> Détails de votre commande </h1>
  <ul>
    <li> <strong>Numéro de commande :</strong> <%= order.id %> </li>
    <li> <strong>Montant total :</strong> <%= order.total %> € </li>
    <li> <strong>Adresse de retrait :</strong> 2 rue Edmond Rostand, 13006 Marseille </li>
    <li> <strong>Horaires de retrait :</strong> du lundi au vendredi de 11h30 à 16h </li>
    <li> <strong>Numéro de téléphone :</strong> 07 67 10 30 14 </li>
  </ul>
</div>
