<article class="container-fluid">

  <!--- Image ---->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <section id="image">
          <a class="ripple" href="#!">
            <img
              alt="founder_picture"
              class="img-fluid rounded"
              src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686752107/Dwish/profil_mathieu_mz35fp.jpg"
              width="100%"
              height="100%"
            />
          </a>
        </section>
      </div>

      <!--- Story ---->
      <div class="col-md-6 container-fluid p-5">
        <section id="introduction" class="text-center">
          <ul class="list-group list-group-light">
            <li class="list-group-item px-3 border-0"><h3> Mathieu Nicoli </h3></li>
            <li class="list-group-item px-3 border-0"> Fondateur & Gérant </li>
            <li class="list-group-item px-3 border-0 font-weight-bold"><span class="font-weight-bold">contact@dwish.fr</span></li>
          </ul>
        </section>
        <hr>
        <section id="description">
          <p class="lh-lg">
          A l'origine de DWISH, il y a l'amour des bons produits et du bien manger ! 
          </p>
          <p>
          On s'est lancé comme mission de redorer le blason de ce cher lord sandwich simplement en proposant un vrai et bon 
          sandwich, avec des produits frais, maison et/ou locaux, le tout dans une véritable démarche éco-responsable. 
          </p>
          <p>
          Chez dwish, nous sommes des gourmands ! 
          nous portons donc aussi une attention toute particulière aux desserts, the sweet touch.
          </p>
        <section>
      </div>

    </div>
  </div>
</article>