<div class="container">
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://res.cloudinary.com/dhcqyjeip/image/upload/v1686753362/Dwish/Design_sans_titre_bfn80r.png');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-position: center;
    ">
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center">
      <div class="text-dark">
        <h1 class="mb-3 display-5">Notre histoire</h1>
        <%# <h4 class="mb-3">Découvrez Dwish, une adresse incontournable pour les amateurs de délices culinaires, où l'amour des bons produits et l'engagement éco-responsable se marient harmonieusement.</h4> %>
      </div>
    </div>
  </div>
  </div>

<div class="mt-5 w-75 container">

<!--Paragraphe 1 droite-->
<div class="row mb-5">
  <div class="col-lg-4">
    <div class="card">
      <img src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686147798/Dwish/sandwich_picture6_a7gwqp.jpg" alt="Dwish" class="card-img-top img-fluid">
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card border-0">
      <div class="card-body">
        <p>Chez Dwish, nous avons à cœur de faire découvrir à nos clients l'authenticité et la fraîcheur des bons produits. Chaque jour, notre équipe s'efforce de sélectionner avec soin les ingrédients qui composeront nos sandwiches. 
        Nous nous approvisionnons auprès de producteurs locaux, privilégiant ainsi les circuits courts et soutenant l'économie de notre région.</p>
      </div>
    </div>
  </div>
</div>

<!--Paragraphe 2 gauche-->
<div class="row mb-5">
  <div class="col-lg-8">
    <div class="card border-0">
      <div class="card-body">
        <p>Lorsque vous dégustez l'un de nos sandwiches, vous pouvez être assuré(e) de la qualité et de la fraîcheur des ingrédients. 
        Du pain croustillant et moelleux préparé par nos soins chaque matin, aux légumes croquants et aux viandes savoureuses, chaque bouchée est une explosion de saveurs. 
        Nous prenons le temps de cuisiner nos garnitures avec passion et créativité, en veillant à ce que chaque ingrédient soit parfaitement équilibré.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <img src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686757179/Dwish/Design_sans_titre_1_w4l4qk.png" alt="Dwish" class="card-img-top img-fluid">
    </div>
  </div>
</div>

<!--Paragraphe 3 droite-->
<div class="row mb-5">
  <div class="col-lg-4">
    <div class="card">
      <img src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686752091/Dwish/sac_papier_qjmpoy.jpg" alt="Dwish" class="card-img-top img-fluid">
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card border-0">
      <div class="card-body">
        <p>Mais notre engagement ne s'arrête pas là. Nous avons choisi d'adopter une véritable démarche éco-responsable pour contribuer à la préservation de l'environnement. 
        Nous avons banni le plastique de notre établissement et proposons des alternatives durables, telles que des emballages compostables et des contenants réutilisables. 
        De plus, nous mettons en place des pratiques de gestion des déchets qui favorisent leur revalorisation plutôt que leur simple élimination.</p>
      </div>
    </div>
  </div>
</div>

<!--Paragraphe 4 gauche-->
<div class="row mb-5">
  <div class="col-lg-8">
    <div class="card border-0">
      <div class="card-body">
        <p>Parce que nous savons que le plaisir de bien manger ne se limite pas aux plats salés, nous avons également créé une gamme de desserts alléchants pour satisfaire les plus gourmands. 
        Du fondant d'un brownie au chocolat noir aux délices fruités d'une tarte maison, chaque dessert est préparé avec soin et attention aux détails. 
        Nous utilisons des ingrédients de qualité supérieure pour garantir une expérience sucrée à la hauteur de nos sandwichs.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <img src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686147798/Dwish/sandwich_picture8_eqodq9.jpg" alt="Dwish" class="card-img-top img-fluid">
    </div>
  </div>
</div>

<!--Paragraphe 5 droite-->
<div class="row mb-5">
  <div class="col-lg-4">
    <div class="card">
      <img src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686752517/Dwish/eco_durable_qgvhnq.png" alt="Dwish" class="card-img-top img-fluid">
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card border-0">
      <div class="card-body">
        <p>En choisissant Dwish, vous optez pour bien plus qu'un simple repas. 
        Vous faites partie d'une communauté engagée qui valorise les plaisirs de la table tout en respectant notre environnement. 
        Nous croyons en la force de l'alimentation responsable et souhaitons inspirer nos clients à adopter des habitudes de consommation durables.</p>
      </div>
    </div>
  </div>
</div>

<!--Paragraphe 6 gauche-->
<div class="row mb-5">
  <div class="col-lg-8">
    <div class="card border-0">
      <div class="card-body">
        <p>Que vous soyez à la recherche d'un déjeuner sur le pouce, d'une pause gourmande ou simplement d'un moment de plaisir gustatif, Dwish est là pour vous offrir une expérience culinaire unique. 
        Rejoignez-nous dans notre quête du bon goût, de la qualité et du respect de notre belle planète.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <img src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686224787/Dwish/team_dwish_ah9bdh.jpg" alt="Dwish" class="card-img-top img-fluid">
    </div>
  </div>
</div>


</div>