<article>
  <div class="lightbox">
    <div class="row">
      <div class="col-lg-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/1.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
          alt="Table Full of Spices"
          class="w-100 mb-1 mb-md-4 shadow-1-strong rounded"
        />
        <img
          src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1687364081/Dwish/event_picture_1_hiy7ue.jpg"
          data-mdb-img="https://res.cloudinary.com/dhcqyjeip/image/upload/v1687364081/Dwish/event_picture_1_hiy7ue.jpg"
          alt="Coconut with Strawberries"
          class="w-100 mb-1 mb-md-4 shadow-1-strong rounded"
        />
        <img
          src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1687364081/Dwish/event_picture_2_prawy5.jpg"
          data-mdb-img="https://res.cloudinary.com/dhcqyjeip/image/upload/v1687364081/Dwish/event_picture_2_prawy5.jpg"
          alt="Man eating a sandwich"
          class="w-100 mb-1 mb-md-4 shadow-1-strong rounded"
        />
      </div>
      <div class="col-lg-6">
        <p class="w-100 mb-5 mb-lg-5 shadow-1-strong rounded">Chez Dwish, nous comprenons que chaque événement est unique et mérite une expérience culinaire exceptionnelle. En tant que traiteur événementiel de premier plan, nous mettons notre passion et notre expertise au service de la création de moments mémorables à travers la gastronomie.</p>

        <p>Notre équipe talentueuse de chefs chevronnés et de professionnels de l'événementiel travaille en étroite collaboration avec vous pour comprendre vos besoins, vos préférences et l'atmosphère que vous souhaitez créer. Que ce soit pour un mariage somptueux, une soirée d'entreprise, une célébration spéciale ou tout autre événement, nous nous efforçons de surpasser vos attentes à chaque occasion.</p>

        <p>Ce qui nous distingue chez Dwish, c'est notre engagement envers la qualité, la créativité et le service attentionné. Nous sélectionnons avec soin les ingrédients les plus frais et les produits de saison pour préparer des mets savoureux qui raviront les papilles de vos convives. Notre équipe créative est constamment à la recherche de nouvelles inspirations et tendances culinaires pour offrir des expériences gustatives uniques et surprenantes.</p>

        <p>Nous nous occupons de tous les détails, de la conception du menu à la mise en place élégante de chaque plat. Notre service professionnel et attentif garantit que vous et vos invités êtes choyés tout au long de l'événement, permettant ainsi de profiter pleinement de chaque moment.</p>

        <p>Chez Dwish, nous croyons en la puissance de la gastronomie pour rassembler les gens et créer des souvenirs durables. C'est pourquoi nous nous engageons à surpasser vos attentes en matière de qualité, de saveur et de présentation.</p>

        <p>Contactez-nous dès aujourd'hui pour discuter de votre prochain événement. Laissez Dwish prendre en charge votre expérience culinaire et transformer votre événement en une véritable réussite gastronomique.</p>
      <div>
        <img
          src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1687364081/Dwish/event_picture_6_le7sbl.jpg"
          data-mdb-img="https://res.cloudinary.com/dhcqyjeip/image/upload/v1687364081/Dwish/event_picture_6_le7sbl.jpg"
          alt="Party table with food"
          class="w-100 mt-lg-5 shadow-1-strong rounded"
        />
      </div>
    </div>
  </div>
</article>