  <section>
      <h2>Collecte des informations personnelles</h2>
      <p>Nous collectons uniquement les informations personnelles que vous nous fournissez volontairement via notre site web. Cela peut inclure votre nom, votre adresse e-mail, votre numéro de téléphone, etc.</p>
      <p>Toutes les informations que vous nous fournissez seront traitées de manière confidentielle et utilisées uniquement dans le cadre spécifié lors de la collecte.</p>
    </section>

    <section>
      <h2>Utilisation des informations</h2>
      <p>Les informations personnelles que vous nous fournissez seront utilisées dans le but de vous fournir les services demandés, de répondre à vos questions ou de vous contacter concernant votre demande.</p>
      <p>Nous ne partagerons pas vos informations personnelles avec des tiers sans votre consentement préalable, sauf si la loi l'exige.</p>
    </section>

    <section>
      <h2>Protection des informations</h2>
      <p>Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé, utilisation abusive ou divulgation.</p>
      <p>Cependant, veuillez noter qu'aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée. Nous ne pouvons donc pas garantir une sécurité absolue de vos informations.</p>
    </section>

    <section>
      <h2>Cookies</h2>
      <p>Notre site web utilise des cookies pour améliorer votre expérience utilisateur. Un cookie est un petit fichier texte stocké sur votre ordinateur qui permet de vous reconnaître lors de vos visites ultérieures.</p>
      <p>Vous pouvez configurer votre navigateur pour refuser les cookies ou être averti lorsque des cookies sont envoyés. Veuillez noter que certaines fonctionnalités du site peuvent ne pas fonctionner correctement si les cookies sont désactivés.</p>
    </section>

    <section>
      <h2>Modification de la politique de confidentialité</h2>
      <p>Nous nous réservons le droit de modifier notre politique de confidentialité à tout moment. Toute modification sera publiée sur cette page.</p>
      <p>Nous vous encourageons à consulter régulièrement cette page pour vous tenir informé des mises à jour éventuelles.</p>
    </section>