<article class="container-fluid text-left p-5">
  <h3>Vous êtes à la recherche d'un espace pour votre événement à Marseille? </h3>
    <p>N'hésitez pas à prendre contact avec notre équipe afin de nous expliquer votre projet ou demander un devis.</p>
      <!-- Section: Images -->
      <section class="p-5">
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1687350981/Dwish/dwish_box_pjuhs1.jpg"
                width="350"
                height="250"
                class="rounded"
                alt="Dwish box"
                title="Dwish box"
              />
              <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
              <h3 class="text-center p-5">Dwish Box</h3>
            </div>
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1687350981/Dwish/event_box_q9ehmq.jpg"
                width="350"
                height="250"
                class="rounded"
                alt="Dwish event box"
                title="Dwish event box"
              />
              <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
              <h3 class="text-center p-5">Traiteur Evénementiel</h3>
            </div>
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1687350981/Dwish/mealt_to_go_zbjncw.jpg"
                width="350"
                height="250"
                class="rounded"
                alt="Dwish meal to go"
              />
              <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
              <h3 class="text-center p-5">Panier Repas</h3>
            </div>
          </div>
        </div>
      </section>
</article>