<div class="container text-center">
  <h3 class="p-2">Votre panier est vide</h3>
    <%= render(ButtonComponent.new(label: "Commander", url: items_path, style:"outline-primary rounded-pill")) %>
</div>
