<div class="container">
  <h1 class="mt-4">Confirmation de commande en click and collect</h1>

  <h2 class="mt-4">Détails de votre commande :</h2>
  <ul class="list-unstyled">
    <li><strong>Numéro de commande :</strong><%= {@order.id} %></li>
    <li><strong>Date de commande :</strong><%= {@order.updated_at.strftime(%d/%m/%Y”)} %></li>
    <li><strong>Méthode de retrait :</strong> Click and Collect</li>
  </ul>

  <p class="mt-4">
    <strong>Montant total :</strong> <%= {@order.amount} %> € <br>
    <strong>Adresse de retrait :</strong> 2 rue Edmond Rostand, 13006 Marseille <br>
    <strong>Horaires de retrait :</strong> du lundi au vendredi de 11h30 à 16h <br>
    <strong>Numéro de téléphone :</strong> 07 67 10 30 14
  </p>
  
  <h5>Merci encore et à bientôt !</h5><br>
</div>
