<div class="container">
  <h1 class="mt-4">Confirmation de commande en click and collect</h1>

  <p class="mt-4">
    Votre commande a bien été enregistrée. Vous pouvez dès maitenant la retirer chez nous à l'adresse ci-dessous<br>
    <strong>Adresse de retrait :</strong> 2 rue Edmond Rostand, 13006 Marseille <br>
    <strong>Horaires de retrait :</strong> du lundi au vendredi de 11h30 à 16h <br>
    <strong>Numéro de téléphone :</strong> 07 67 10 30 14
  </p>
  
  <h5>Merci encore et à bientôt !</h5><br>
</div>