  <div id="<%= dom_id item %>" style="max-width: 540px;">
    <div class="card-body">

      <h5 class="card-title p-2"><strong><%= item.name %></strong></h5>
      
      <div class="row">
        <div class="col">
          <p class="card-text p-2 lh-lg"><%= item.description %></p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="card-text p-2"><strong><%= item.price %>€</strong></p>
        </div>
      </div>
    </div>

  </div>
