<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas l'auteur de changement de mot de passe, merci d'ignorer ce message.</p>
<p>Votre mot de passe ne sera pas modifié tant que vous n'aurez pas accédé au lien ci-dessus et créé un nouveau mot de passe..</p>
